body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  header a:hover {
    background-color: #4CAF50;
  }
  
  h2 {
    color: #4CAF50;
  }
  
  p {
    color: #555;
  }
  
  .options ul {
    list-style: none;
    padding: 0;
  }
  
  .options ul li {
    margin-bottom: 10px;
  }
  
  .options ul li a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    /* border: 1px solid ; */
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .options ul li a:hover {
    background-color: #ecf0f1;
  }
  