/* Registration page specific styles */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #4CAF50;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icons{
    display: flex;
    margin-right: 0;
    margin-left: 1200px;

  }
  
  header a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  header a:hover {
    background-color: #2980b9;
  }
  
  form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  form button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    opacity: 0.8;
  }
  